<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target xsi:type="File" name="errorfile" fileName="${basedir}/logs/nlog-error-${date:format=yyyyMMdd}.log"
                layout="${longdate} | ${event-properties:item=EventId_Id} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}" />
        <target xsi:type="File" name="infofile" fileName="${basedir}/logs/nlog-info-${date:format=yyyyMMdd}.log"
                layout="${longdate} | ${event-properties:item=EventId_Id} | ${uppercase:${level}} | ${logger}|${message} ${exception:format=tostring} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />
        <target xsi:type="Console" name="infoConsole"
                layout="${time} | ${uppercase:${level}} | ${message} | ${exception:format=tostring,StackTrace}" />
    </targets>
    <rules>
        <logger name="Microsoft.*" maxlevel="info" final="true" />
        <logger name="*" levels="trace,debug,info,warn" writeTo="infofile" />
        <logger name="*" levels="trace,debug,info,warn,error" writeTo="infoConsole" />
        <logger name="*" levels="error,fatal" writeTo="errorfile" final="true" />
    </rules>
</nlog>