@model WebApplication.ViewModels.Login.LoginViewModel

@{
    Layout = "_Layout";
}

<form asp-action="Login" method="post">
    <div class="mb-2">
        <input type="text" class="form-control" placeholder="Введите логин" asp-for="Login"/>
    </div>
    <div class="mb-4">
        <input type="password" class="form-control" placeholder="Введите пароль" asp-for="Password"/>
    </div>
    <div class="validation alert alert-danger" role="alert" asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">Вход</button>
</form>